<!DOCTYPE html>
<html lang="bn">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Career Bangla</title>
      <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
       <header>
         <nav>
              <div class="logo">
              <h1>Career Bangla</h1>
              </div>
                 <button class="menu-toggle" id="menuToggle">☰</button>
                 ↑
          
               <ul class="nav-links">
               <li><a href="#">Home</a></li>
                <li><a href="#">Latest News</a></li>
               <li><a href="#">Notice</a></li>
               <li><a href="#">PDF</a></li>
               <li><a href="#">Contact</a></li>
             </ul>
        </nav>

       </header>
       <main>
    <section class="hero">
        <h2>West Bengal Job Updates</h2>
        <p>Latest WBP, KP, Railway, SSC & Government Job News</p>

        <a href="#" class="btn">Explore Now</a>
        <p class="update">✔ Daily Updated</p>
    </section>
    <section class="latest-news">

    <h2>Latest Updates</h2>

    <div class="news-container">

        <div class="card">
            <h3>WBP Constable 2026</h3>
            <p>Latest Court Case Update...</p>
            <a href="#">Read More</a>
        </div>

        <div class="card">
            <h3>KP Recruitment</h3>
            <p>New Notification Released...</p>
            <a href="#">Read More</a>
        </div>

        <div class="card">
            <h3>Railway Recruitment</h3>
            <p>Group D Latest News...</p>
            <a href="#">Read More</a>
        </div>

    </div>

</section>
<section class="contact-form">

    <h2>Contact Us</h2>

    <form id="contactForm">

       <input type="text" name="name" placeholder="Your Name" required>

        <input type="email" name="email" placeholder="Your Email" required>

        <textarea name="message" placeholder="Your Message" rows="5" required></textarea>

        <button type="submit">Submit</button>

    </form>

</section>
<footer>

    <p>© 2026 Career Bangla. All Rights Reserved.</p>

</footer>
 </main>
    <script src="../static/js/script.js"></script>
</body>

</html>