<!DOCTYPE html>
<html lang="bn">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Login - Career Bangla</title>

    <link rel="stylesheet" href="../static/css/style.css">

</head>


<body>

    <main>

        <section class="login-box">

            <h2>Career Bangla Admin</h2>

            <h3>Admin Login</h3>


            <form method="POST" action="/login">

                <input
                    type="text"
                    name="username"
                    placeholder="Username"
                    required
                >


                <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    required
                >


                <button type="submit">
                    Login
                </button>

            </form>

        </section>

    </main>


</body>

</html>